div
 label(for="avatar")
 span(class="profile__img-change absolute-centered") Поменять<br/>аватар
 img(class="profile__img" height="130" width="130" src=`${resourceUrl}${avatar}` alt="Аватар пользователя")
 input(class="hide" accept="image/*" type="file" id="avatar" name="avatar")
