if isActive
  button(type=`${type ? type : 'submit'}` class='button radiused text-center full-width') #{label}
else
  button(type=`${type ? type : 'submit'}` class='button radiused text-center full-width disabled') #{label}
