extends ../../layout.pug

block head
  style
    include ./chat.css
block content
  body(class="row")
  div(class="chats-wrapper relative")
    div(class="operations-wrapper column")
      span(class="operations-wrapper__profile row full-width content-end items-center")
        a(href="/profile") Профиль
        svg(width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg")
          use(href="/static/icons/sprite.svg#bracket")
      input(class="operations-wrapper__search" type="text" placeholder="Поиск")
    div(class="chat-preview row relative")
      img(class="chat-preview__img" src="/static/images/avatar1.png" alt="Аватар пользователя")
      div(class="column items-start")
        span(class="chat-preview__name") Андрей
        span(class="chat-preview__body") Изображение
      span(class="chat-preview__time absolute") 10:49
      span(class="chat-preview__count absolute text-center") 4
  div(class="current-chat column content-center relative")
    div(class="current-chat__user row items-center absolute")
      img(class="current-chat__user-avatar" src="/static/images/avatar.png" alt="Аватар пользователя")
      span(class="current-chat__user-name") Вадим
      svg(class="current-chat__controls" width="3" height="16" viewBox="0 0 3 16" xmlns="http://www.w3.org/2000/svg")
        circle(cx="1.5" cy="2" r="1.5")
        circle(cx="1.5" cy="8" r="1.5")
        circle(cx="1.5" cy="14" r="1.5")
      div(class="controls-popup absolute")
        ul
          li
            a(class="row items-center")
              svg(class="controls-popup__icon controls-popup__icon--add-user" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                use(href="/static/icons/sprite.svg#cross")
              span Добавить пользователя
          li
            a(class="row items-center")
              svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                use(href="/static/icons/sprite.svg#cross")
              span Удалить пользователя
    span(class="text-center current-chat__info-message") Выберите чат чтобы отправить сообщение
    span(class="current-chat__date text-center") 19 Июня
    p(class="current-chat-message relative")
      | Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила
      | Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500
      | EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой
      | забрали только кассеты с пленкой.
      | Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали.
      | Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
      span(class="current-chat-message__date absolute")
        time 11:59
    p(class="current-chat-message current-chat-message__incoming relative") Круто!
      span(class="current-chat-message__date absolute")
        svg(width="11" height="5" viewBox="0 0 11 5" fill="none" xmlns="http://www.w3.org/2000/svg")
          use(href="/static/icons/sprite.svg#ticks")
        time 11:59
    div(class="message-input row items-center absolute")
      a
        svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
          use(href="/static/icons/sprite.svg#paperClip")
      input(class="message-input__text full-width" placeholder="Сообщение" type="text")
      a
        svg(class="message-input__submit" width="28" height="28" viewBox="0 0 28 28" fill="none"
          xmlns="http://www.w3.org/2000/svg")
          use(href="/static/icons/sprite.svg#arrow")
