.current-chat-message {
  margin-top: auto;
  max-width: 50%;
  font-size: 12px;
  line-height: 14px;
  background: #f8f8f8;
  padding: 11px;
  border-radius: 0 12px 12px;
  font-weight: 500;
  color: var(--black);
  margin-right: auto;
  padding-right: 60px;
}

.current-chat-message-wrapper {
  padding-bottom: 55px;
  overflow: hidden;
  margin-top: auto;
}

.current-chat-message__date {
  right: 11px;
  bottom: 11px;
}

.current-chat-message__incoming {
  background: #e4edfd;
  border-radius: 12px 0 12px 12px;
  margin-left: auto;
  padding: 11px 63px 11px 11px;
  margin-right: 0;
}

.current-chat-message__incoming .current-chat-message__date {
  color: var(--accentColor);
}
