@import "normalize.css";
@import "reset.css";
@import "fonts.css";
@import "root.css";
@import "base.css";

body {
  background: var(--white);
  font-family: var(--mainFont);
}

#root {
  height: 100vh;
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
