div
  span(class="operations-wrapper__profile row full-width content-end items-center")
    a(data-href="/profile" href="/profile") Профиль
    svg(width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg")
      use(href="#bracket")
  input(class="operations-wrapper__search" type="text" placeholder="Поиск")
