.text-input {
  display: block;
  margin-bottom: 20px;
  height: 36px;
  border-bottom: 1px solid var(--accentColor);
  position: relative;
}

.text-input:last-of-type {
  margin-bottom: 64px;
}

.text-input__label:last-of-type {
  margin-bottom: 0;
}

.text-input__title {
  font-size: 9px;
  line-height: 11px;
  color: #999;
  position: absolute;
  left: 0;
  top: 0;
}

.text-input__input {
  width: 100%;
  padding: 15px 0 6px;
  font-size: 13px;
  line-height: 15px;
}

.text-input__error {
  color: var(--errorColor);
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  left: 0;
  bottom: -14px;
}
