img(class="current-chat__user-avatar" src="/static/images/avatar.png" alt="Аватар пользователя")
span(class="current-chat__user-name") Вадим
svg(class="current-chat__controls" width="3" height="16" viewBox="0 0 3 16" xmlns="http://www.w3.org/2000/svg")
  circle(cx="1.5" cy="2" r="1.5")
  circle(cx="1.5" cy="8" r="1.5")
  circle(cx="1.5" cy="14" r="1.5")
