div(class='row items-center')
  if userToChat
    object(class="current-chat__user-avatar" type="image/png" data=`${userToChat.avatar ? resourcesUrl + userToChat.avatar : ''}`)
    span(class="current-chat__user-name") #{userToChat.login}
