div 
  if isAddUserVisible
    div(class="add-user column items-center relative")
      h1 Новый чат
      p Найдите пользователя и кликните на него что бы начать новый чат
      button(class="add-user-close-button" data-href="add-user-close-button") +
      | !{input}
      | !{usersList}