append head
  link(href="./modal.css")
append content
body(class="column content-center items-center")
  div(class="modal modal-login radiused column")
    h2(class="modal__title text-center") Вход
      label(class="text-input" for="user_name")
        span(class="text-input__title") Логин
        input(class="text-input__input" id="user_name" name="user_name" type="text")
        span(class="text-input__error") Не верный логин
      label(class="text-input" for="user_password")
        span(class="text-input__title") Пароль
        input(class="text-input__input" id="user_password" name="user_password" type="text")
      button(class="modal__submit-button radiused text-center full-width") Автаризоваться
      div(class="text-center full-width")
        a(class="modal__link") Нет аккаунта?
