.modal {
    max-width: 340px;
    width: 100%;
    padding: 50px 30px 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
}

.modal__title {
    margin-bottom: 40px;
}

.modal_login {
    min-height: 460px;
}

.text-input {
    display: block;
    margin-bottom: 20px;
    height: 36px;
    border-bottom: 1px solid var(--accentColor);
    position: relative;
}

.text-input__label:last-of-type {
    margin-bottom: 0;
}

.text-input__title {
    font-size: 9px;
    line-height: 11px;
    color: #999999;
    position: absolute;
    left: 0;
    top: 0;
}

.text-input__input {
    width: 100%;
    padding: 15px 0 6px;
    font-size: 13px;
    line-height: 15px;
}

.text-input__error {
    color: var(--errorColor);
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    left: 0;
    bottom: -14px;
}

.modal__submit-button {
    margin-top: auto;
    background: var(--accentColor);
    padding: 10px;
    color: var(--white);
    margin-bottom: 14px;
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;
}

.modal__link {
    cursor: pointer;
    color: var(--accentColor);
    font-size: 11px;
    line-height: 13px;
}
