.chat-preview__img {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background: var(--messagesBg);
  margin-right: 10px;
}

.chat-preview {
  cursor: pointer;
  padding: 12px 50px 12px 10px;
}

.chat-preview:hover {
  opacity: 0.8;
}

.chat-preview::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 0;
  height: 1px;
  width: calc(100% - 20px);
  background: #eaeaea;
}

.chat-preview__time {
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: var(--secondaryColor);
}

.chat-preview__count {
  background: var(--accentColor);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: var(--white);
  font-size: 14px;
  line-height: 21px;
  right: 10px;
  bottom: 10px;
}

.chat-preview__name {
  font-weight: bold;
  color: var(--black);
  font-size: 14px;
  line-height: 16px;
}

.chat-preview__body {
  font-size: 14px;
  line-height: 16px;
  color: var(--secondaryColor);
}
