.message-input {
  bottom: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 0;
}

.message-input button {
  background: transparent;
  padding: 0;
}

.message-input::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  background: #eaeaea;
}

.message-input__submit {
  margin-left: auto;
  pointer-events: none;
}

.message-input__text {
  margin: 0 10px;
  padding: 2px 12px;
  height: 28px;
  background: var(--messagesBg);
  border-radius: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}
