.text-input__labelError {
    color: var(--errorColor);
    font-size: 10px;
    line-height: 12px;
    position: absolute;
    left: 0;
    bottom: -14px;
  }


  .text-input__modalError {
    color: var(--errorColor);
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    width: 100%;
    text-align: center;
  }
